<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AKTİF VERİLER</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="../public/css/animate.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/media-queries.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../public/ico/iotbb.PNG">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
		<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>
		<script src="https://mottie.github.io/tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../public/css/aktif.css">
		

		



		<style>
			.nav-item:hover{
				background-color:#1e3f4e;
			}
	   
		</style>
	
</head>
<body >


	<nav class=" navbar fixed-top navbar-expand-lg navbar-light  " style="background-color: #04505f;color: white;">
		<div class="container-fluid ">
		  
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse  " id="navbarNav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item ">
				<a  class="nav-link active  " aria-current="page" style="color: white; " href="http://localhost:3000/">Ana sayfa</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" style="color: white;" href="http://localhost:3000/aktif-veriler">Aktif Veriler</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link"  style="color: white;" href="http://localhost:3000/gecmis-veriler"> Geçmiş Veriler</a>
			  </li>
			  <li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle"style="color: white;" data-bs-toggle="dropdown">Sections</a>
				<div class="dropdown-menu" style="background:#1e3f4e;">
				  <a href="#"  style="color: white;" class="dropdown-item">Section 1</a>
				  <a href="#"  style="color: white;"  class="dropdown-item">Section 2</a>
				  <a href="#"   style="color: white;" class="dropdown-item">Section 3</a>
				</div>
			</li>
			</ul>
		  </div>
		</div>
	  </nav>
	  <div class=" bg d-flex  align-items-center justify-content-center p-5 " >

		<a href="https://www.ieeeiuc.com/sb/tr/projeler/iot"> <img  id="logO" src="../public/img/ieeiücbeyaz.png"  alt="ieeeiuc"></a>
	</div>
	<div class="d-flex  align-items-center justify-content-center p-5">
		<h1 id="renk" style="color:white">AKTİF VERİLER</h1>
	</div>

	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Sidebar -->
		<nav class="sidebar">
			
			<!-- close sidebar menu -->
			<div class="dismiss">
				<i class="fas fa-arrow-left"></i>
			</div>
			<div class="logo ;">
				<h3><a href="index.html" ></a></h3>
			</div>
			 
			<ul class="list-unstyled menu-elements">
				<li>
					<a class="scroll-link" href="http://localhost:3000/"><i class="fas fa-home"></i> Anasayfa</a>
				</li>
				<li class="active"> 
					<a class="scroll-link" href="http://localhost:3000/aktif-veriler"><i class="fas fa-cog"></i> Aktif Veriler</a>
				</li>
				<li>
					<a class="scroll-link" href="http://localhost:3000/gecmis-veriler"><i class="fas fa-user"></i> Geçmiş Veriler</a>
				</li>
				
				<li>
					<a class="scroll-link" href="http://localhost:3000/iletisim"><i class="fas fa-envelope"></i> İletişim</a>
				</li>
			
			<div class="to-top">
				<a class="btn btn-primary btn-customized-3" href="#" role="button">
					<i class="fas fa-arrow-up"></i> Top
				</a>
			</div>
			
			<div id="knapp" class="dark-light-buttons">
				<a onclick="myFunction()" class=" btn btn-primary btn-customized-4 btn-customized-dark" href="#"id="darkk" role="button" >Dark</a>
				<a onclick="myFunction2()" class=" btn btn-primary btn-customized-4 btn-customized-light" href="#"id="lightt" role="button">Light</a>
			</div>
		<script>

$(document).ready(function(){
  $("#knapp").click(function() {
	$('body').toggleClass("newbg");
	$('h1').toggleClass("newbg");
	$('.container .card').toggleClass("degisen");
	$('.box').toggleClass("degisen");
	$('.percent').toggleClass("degisen");
	$('.container .card').toggleClass("degisen1");
});
})


		</script>
		</nav>
		<!-- End sidebar -->
		
		<!-- Dark overlay -->
		<div class="overlay"></div>

		<!-- Content -->
		<div class="content">
		
			<!-- open sidebar menu -->
			<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
				<i class="fas fa-align-left"></i> <span>Menu</span>
			</a>
		
			<!-- Top content -->
			<div class="top-content section-container" id="top-content">
				<div class="container">
					<div class="row">
						
					</div>
				</div>
			</div>
	
			<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>




			<div id="renk" class="d-flex  align-items-center justify-content-center p-1">
                <h1  id="renk1" style="color:white">ID1</h1>
            </div>



	<div class="container" >
		<div class="card" id="id1">
			<div class="box" >
				<div class="percent" >
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle id="circle1" cx="70" cy="70" r="70"></circle>
					</svg>
					<div class="number">
						<h2 id="h2id1">90<span>%</span></h2>
					</div>
				</div>
				<h2 class="text" id="a1">Voltage</h2>
			</div>
		</div>
			<div class="card"id="id2">
			<div class="box">
				<div class="percent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle id="circle2" cx="70" cy="70" r="70"></circle>
					</svg>
					<div class="number">
						<h2 id="h2id2">85<span>%</span></h2>
					</div>
				</div>
				<h2 class="text" id="a2">SA</h2>
			</div>
		</div>
			<div class="card" id="id3">
			<div class="box">
				<div class="percent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle id="circle3" cx="70" cy="70" r="70"></circle>
					</svg>
					<div class="number">
						<h2 id="h2id3">70<span>%</span></h2>
					</div>
				</div>
				<h2 class="text" id="a3">Flame</h2>
			</div>
		</div>
	</div>
	
	<div class="d-flex  align-items-center justify-content-center p-1">
		<h1 id="renk2" style="color:white">ID2</h1>
	</div>



<div class="container" >
<div class="card"id="id4">
	<div class="box" >
		<div class="percent" >
			<svg>
				<circle cx="70" cy="70" r="70"></circle>
				<circle id="circle4" cx="70" cy="70" r="70"></circle>
			</svg>
			<div class="number">
				<h2 id="h2id4">50<span>%</span></h2>
			</div>
		</div>
		<h2 class="text" id="a4">Voltage</h2>
	</div>
</div>
	<div class="card"id="id5">
	<div class="box">
		<div class="percent">
			<svg>
				<circle cx="70" cy="70" r="70"></circle>
				<circle id="circle5" cx="70" cy="70" r="70"></circle>
			</svg>
			<div class="number">
				<h2 id="h2id5">45<span>%</span></h2>
			</div>
		</div>
		<h2 class="text" id="a5">SA2</h2>
	</div>
</div>
	<div class="card"id="id6">
	<div class="box">
		<div class="percent">
			<svg>
				<circle cx="70" cy="70" r="70"></circle>
				<circle id="circle6" cx="70" cy="70" r="70"></circle>
			</svg>
			<div class="number">
				<h2 id="h2id6">90<span>%</span></h2>
			</div>
		</div>
		<h2 class="text" id="a6">Flame</h2>
	</div>
</div>
</div>

<div class="d-flex  align-items-center justify-content-center p-1">
	<h1 id ="renk3"style="color:white">ID3</h1>
</div>



<div class="container" >
<div class="card"id="id7">
<div class="box" >
	<div class="percent" >
		<svg>
			<circle cx="70" cy="70" r="70"></circle>
			<circle id="circle7" cx="70" cy="70" r="70"></circle>
		</svg>
		<div class="number">
			<h2 id="h2id7">35<span>%</span></h2>
		</div>
	</div>
	<h2 class="text" id="a7">Voltage</h2>
</div>
</div>
<div class="card"id="id8">
<div class="box">
	<div class="percent">
		<svg>
			<circle cx="70" cy="70" r="70"></circle>
			<circle id="circle8" cx="70" cy="70" r="70"></circle>
		</svg>
		<div class="number">
			<h2 id="h2id8">22<span>%</span></h2>
		</div>
	</div>
	<h2 class="text" id="a8">SA3</h2>
</div>
</div>
<div class="card" id="id9">
<div class="box">
	<div class="percent">
		<svg>
			<circle cx="70" cy="70" r="70"></circle>
			<circle id="circle9" cx="70" cy="70" r="70"></circle>
		</svg>
		<div class="number">
			<h2 id="h2id9">24<span>%</span></h2>
		</div>
	</div>
	<h2 class="text" id="a9">Flame</h2>
</div>
</div>
</div>
<script>
let x= 90;
let y= 90;
let z= 90;
let xx= 90;
let xy= 90;
let xz= 90;
let yx= 90;
let yy= 90;
let yz= 90;
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 
document.getElementById("circle1").style.strokeDashoffset = ( 440 - ( 440 * x ) / 100); 

</script>

<script>function myFunction2() {
	document.getElementById("renk").style.color = "black";
	document.getElementById("renk1").style.color = "black";
	document.getElementById("renk2").style.color = "black";
	document.getElementById("renk3").style.color = "black";
	document.getElementById("h2id1").style.color = "black";
	document.getElementById("h2id2").style.color = "black";
	document.getElementById("h2id3").style.color = "black";
	document.getElementById("h2id4").style.color = "black";
	document.getElementById("h2id5").style.color = "black";
	document.getElementById("h2id6").style.color = "black";
	document.getElementById("h2id7").style.color = "black";
	document.getElementById("h2id8").style.color = "black";
	document.getElementById("h2id9").style.color = "black";
	document.getElementById("a1").style.color = "black";
	document.getElementById("a2").style.color = "black";
	document.getElementById("a3").style.color = "black";
	document.getElementById("a4").style.color = "black";
	document.getElementById("a5").style.color = "black";
	document.getElementById("a6").style.color = "black";
	document.getElementById("a7").style.color = "black";
	document.getElementById("a8").style.color = "black";
	document.getElementById("a9").style.color = "black";
	document.getElementById("circle2").style.color = "black";
	document.getElementById("circle2").style.backgroundColor = "black";}
    function myFunction() 
    {
	document.getElementById("renk").style.color = "white";
	document.getElementById("renk1").style.color = "white";
	document.getElementById("renk2").style.color = "white";
	document.getElementById("renk3").style.color = "white";
	document.getElementById("h2id1").style.color = "white";
	document.getElementById("h2id2").style.color = "white";
	document.getElementById("h2id3").style.color = "white";
	document.getElementById("h2id4").style.color = "white";
	document.getElementById("h2id5").style.color = "white";
	document.getElementById("h2id6").style.color = "white";
	document.getElementById("h2id7").style.color = "white";
	document.getElementById("h2id8").style.color = "white";
	document.getElementById("h2id9").style.color = "white";
	document.getElementById("a1").style.color = "white";
	document.getElementById("a2").style.color = "white";
	document.getElementById("a3").style.color = "white";
	document.getElementById("a4").style.color = "white";
	document.getElementById("a5").style.color = "white";
	document.getElementById("a6").style.color = "white";
	document.getElementById("a7").style.color = "white";
	document.getElementById("a8").style.color = "white";
	document.getElementById("a9").style.color = "white";
	document.getElementById("b").style.color = "white";
	document.getElementById("id7").style.backgroundColor = "white";
  }</script>
<!-- Footer -->
<footer style="background-color: #04505f;
" class="page-footer  font-small stylish-color-dark pt-4">

	<!-- Footer Links -->
	<div class="container text-center text-md-left" style="background-color: #04505f;
	color:white">
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-6 mx-auto d-flex   flex-row  align-items-center ">
  
		  <!-- Content -->
		 
		  <div class=" col-xs-12 about-company ">

			<div class=" align-items-center"  >
<img src="../public/img/ieeiücbeyaz.png"  class=" mw-100 ">
</div>
</div>

		</div>
		<!-- Grid column -->
  
		<hr class="clearfix w-100 d-md-none">
  
		<!-- Grid column -->
		<div class="col-lg-3 col-xs-12 location ;">
  
		  <!-- Links -->
		  <h4 class="mt-lg-0 mt-sm-4 pt-2">Bilgilendirme</h4>
  
		  <ul class="list-unstyled pt-2">
			<li >
			  <a href="https://www.ieeeiuc.com/sb/tr">Anasayfa</a>
			</li>
			<li class="pt-1">
			  <a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
			</li>
			<li class="pt-1">
			  <a href="#!">Ekip</a>
			</li >
			<li class="pt-1">
			  <a href="https://www.ieeeiuc.com/sb/tr/sikca-sorulan-sorular">S.S.S</a>
			</li>
			<li class="pt-1">
				<a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
			  </li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
		<div class="col-lg-3 col-xs-12 location">
			<h4 class="mt-lg-0 mt-sm-4 pt-2">İletişim</h4>

								<p class="pt-2">İstanbul Üniversitesi Cerrahpaşa Avcılar Kampüsü Mühendislik Fakültesi</p>
			<p>34320 Avcılar/ İstanbul TR</p>

			<p class="mb-0"><i class=""></i>
				</p>
			<p>
				
				ieeeiüciot@gmail.com
			
		</div>
  
	  
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
	
  
   
  
<!-- sosyal medya -->


<div class="page-content page-container text-center text-left  py-3 " id="page-content"style="background-color:#04505f; ">
	<div  class="d-flex justify-content-center  ">
		<div  class="row     ">
			<div  class="col-6-center grid-margin stretch-card  ">
				<div class="card align-self-center" >
					<div class="card-body  " style="background:#04505f; ">
						<div class="template-demo"> 
							 <button type="button" onclick="window.location.href='https://www.facebook.com/ieeeiu/';" class="btn btn-social-icon btn-outline-facebook">   <i class="fa fa-facebook"></i>    </button>
							 <button type="button" onclick="window.location.href='https://www.youtube.com/channel/UCeyBtBFEsycQNxCpvC5lzPA';" class="btn btn-social-icon btn-outline-youtube">  <i class="fa fa-youtube"></i>    </button> 
							 <button type="button" onclick="window.location.href='https://twitter.com/ieeeorg';"class="btn btn-social-icon btn-outline-twitter">  <i class="fa fa-twitter"></i>   </button> 
							 <button type="button" onclick="window.location.href='https://www.linkedin.com/company/ieee-i%CC%87stanbul-%C3%BCni%CC%87versi%CC%87tesi%CC%87-cerrahpa%C5%9Fa/mycompany/';"class="btn btn-social-icon btn-outline-linkedin">   <i class="fa fa-linkedin"></i>   </button>
							 <button type="button" onclick="window.location.href='https://www.instagram.com/ieeeiuc/?hl=tr';"class="btn btn-social-icon btn-outline-instagram">   <i class="fa fa-instagram"></i>    </button> 
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- sosyal medya -->





	

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3" style="background-color:#062e36; color:white">© 2021 Copyright:
	  <a href="https://www.ieeeiuc.com/sb/tr"> IEEEIUC.com</a>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->
   

	

	
</div>
<!-- End content -->

</div>
<!-- End wrapper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- Javascript -->
<script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/jquery-migrate-3.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../public/js/jquery.backstretch.min.js"></script>
<script src="../public/js/wow.min.js"></script>
<script src="../public/js/jquery.waypoints.min.js"></script>
<script src="../public/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../public/js/scripts.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
crossorigin="anonymous"></script>
</body>
</html>