<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../public/css/animate.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/media-queries.css">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../public/ico/iotbb.PNG">



  <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
  <script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>
  <script src="https://mottie.github.io/tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/css/aktif.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->


  <style>
    
    #map{
        height:400px;
        width:1000px;
    }

</style>

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5C0XB2nisaTgPaqeHzvwlzrN8gl19Hq4&callback=initMap&libraries=&v=weekly"
async
></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IEEE IUC IOT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Ana Sayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/harita">Harita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gecmis-veriler">Geçmiş Veriler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
        </li>
      </ul>
      <span class="navbar-text">
        Bize ulaşın <button type="button" onclick="window.location.href='https://www.facebook.com/ieeeiu/';"
          class="btn btn-social-icon btn-outline-facebook"> <i class="fa fa-facebook"></i> </button>
        <button type="button" onclick="window.location.href='https://twitter.com/ieeeorg';"
          class="btn btn-social-icon btn-outline-twitter"> <i class="fa fa-twitter"></i> </button>
        <button type="button"
          onclick="window.location.href='https://www.linkedin.com/company/ieee-i%CC%87stanbul-%C3%BCni%CC%87versi%CC%87tesi%CC%87-cerrahpa%C5%9Fa/mycompany/';"
          class="btn btn-social-icon btn-outline-linkedin"> <i class="fa fa-linkedin"></i> </button>
        <button type="button" onclick="window.location.href='https://www.instagram.com/ieeeiuc/?hl=tr';"
          class="btn btn-social-icon btn-outline-instagram"> <i class="fa fa-instagram"></i> </button>

      </span>
    </div>
  </nav>
  <div id='map'></div>

  
  <script>
    
    let x = Math.floor((Math.random() * 100) + 1);
   setInterval(() => {
            x = Math.floor((Math.random() * 100) + 1);
        }, 1000);

        function initMap(){
            let options={
                zoom:6,
                center:{lat:39.925533,lng:32.866287}
            };

            let map=new google.maps.Map(document.getElementById('map'),options);

         //marker
            let marker=new google.maps.Marker({
                position:{lat:41.015137,lng:28.979530},
                map:map
            });
            let InfoWindow= new google.maps.InfoWindow({
                content: `Sensorid: a\nVoltage: 0\nFlame: 0`
            });

            // marker.addListener('click',function(){
            //     InfoWindow.setContent(`yazı ${x}`);
            // });

            marker.addListener('click',function(){
                InfoWindow.open(map,marker);
            });

        //     setInterval(() => {
        //     x = Math.floor((Math.random() * 100) + 1);
        //     InfoWindow.setContent(`yazı ${x}`);
        // }, 1000); 

        

        
      //marker1

        let marker1=new google.maps.Marker({ 
        position:{lat:41.515137,lng:28.979530},
    map:map
        });
        let InfoWindow1= new google.maps.InfoWindow({
    content: `Sensorid: b\nVoltage: 0\nFlame: 0`       
        });

        marker1.addListener('click',function(){
    InfoWindow1.open(map,marker1);
});

    //     setInterval(() => {
    // x = Math.floor((Math.random() * 100) + 1);
    // InfoWindow1.setContent(`yazı ${x}`);
    // }, 1000); 

    //marker2

    let marker2=new google.maps.Marker({ 
        position:{lat:41.315137,lng:28.979530},
    map:map
        });
        let InfoWindow2= new google.maps.InfoWindow({
    content: `Sensorid: c\nVoltage: 0\nFlame: 0`      
        });

        marker2.addListener('click',function(){
    InfoWindow2.open(map,marker2);
});

    //     setInterval(() => {
    // x = Math.floor((Math.random() * 100) + 1);
    // InfoWindow2.setContent(`yazı ${x}`);
    // }, 1000); 


        

       
          
            const socket = io();
            socket.on('veriler', (msg) => {
            const bolgeler = ['a', 'b', 'c'];
            // const contents = ['marker1','marker2','marker3']
            for (let i = 0; i < bolgeler.length; i++) { //modallar eklenicek
                if (msg.sensor_id == bolgeler[i]) {
                    if (msg.flame >= 40) {
                        $('#yangin').text(bolgeler[i].toLocaleUpperCase() + ' Bölgesinde Yangın')
                        $('#exampleModalCenter').modal('show');
                        audio.play();
                        $('#exampleModalCenter').on('hidden.bs.modal', () => {
                            audio.pause();
                        })
                    }
                    if (msg.voltage <= 10) {
                        $('#pill').text(bolgeler[i].toLocaleUpperCase() + ' Bölgesinde Düşük Pil')
                        $('#modalpil').modal('show');
                        audio.play();
                        $('#modalpil').on('hidden.bs.modal', () => {
                            audio.pause();
                        })
                    }
                    
                    
                }
            }
            if(msg.sensor_id == 'a'){
                      InfoWindow.setContent(`Sensorid: ${msg.sensor_id}\nVoltage: ${msg.voltage}\nFlame: ${msg.flame}`);
    
                    }
                    if(msg.sensor_id == 'b'){
                      InfoWindow1.setContent(`Sensorid: ${msg.sensor_id}\nVoltage: ${msg.voltage}\nFlame: ${msg.flame}`);
                    }
                    if(msg.sensor_id == 'c'){
                      InfoWindow2.setContent(`Sensorid: ${msg.sensor_id}\nVoltage: ${msg.voltage}\nFlame: ${msg.flame}`);
                    }
                    console.log(msg.sensor_id,msg.voltage,msg.flame)
        })
             
 }
            
</script>
  <!-- Footer -->
  <footer style="background-color: #04505f;
" class="page-footer  font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="background-color: #04505f;
	color:white">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mx-auto d-flex   flex-row  align-items-center ">

          <!-- Content -->

          <div class=" col-xs-12 about-company ">

            <div class=" align-items-center">
              <img src="../public/img/ieeiücbeyaz.png" class=" mw-100 ">
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-lg-3 col-xs-12 location ;">

          <!-- Links -->
          <h4 class="mt-lg-0 mt-sm-4 pt-2">Bilgilendirme</h4>

          <ul class="list-unstyled pt-2">
            <li>
              <a href="https://www.ieeeiuc.com/sb/tr">Anasayfa</a>
            </li>
            <li class="pt-1">
              <a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
            </li>
            <li class="pt-1">
              <a href="#!">Ekip</a>
            </li>
            <li class="pt-1">
              <a href="https://www.ieeeiuc.com/sb/tr/sikca-sorulan-sorular">S.S.S</a>
            </li>
            <li class="pt-1">
              <a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <div class="col-lg-3 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4 pt-2">İletişim</h4>

          <p class="pt-2">İstanbul Üniversitesi Cerrahpaşa Avcılar Kampüsü Mühendislik Fakültesi</p>
          <p>34320 Avcılar/ İstanbul TR</p>

          <p class="mb-0"><i class=""></i>
          </p>
          <p>

            ieeeiüciot@gmail.com

        </div>


        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    </div>


    <!-- sosyal medya -->


    <div class="page-content page-container text-center text-left  py-3 " id="page-content"
      style="background-color:#04505f; ">
      <div class="d-flex justify-content-center  ">
        <div class="row     ">
          <div class="col-6-center grid-margin stretch-card  ">
            <div class="card align-self-center">
              <div class="card-body  " style="background:#04505f; ">
                <div class="template-demo">
                  <button type="button" onclick="window.location.href='https://www.facebook.com/ieeeiu/';"
                    class="btn btn-social-icon btn-outline-facebook"> <i class="fa fa-facebook"></i> </button>
                  <button type="button"
                    onclick="window.location.href='https://www.youtube.com/channel/UCeyBtBFEsycQNxCpvC5lzPA';"
                    class="btn btn-social-icon btn-outline-youtube"> <i class="fa fa-youtube"></i> </button>
                  <button type="button" onclick="window.location.href='https://twitter.com/ieeeorg';"
                    class="btn btn-social-icon btn-outline-twitter"> <i class="fa fa-twitter"></i> </button>
                  <button type="button"
                    onclick="window.location.href='https://www.linkedin.com/company/ieee-i%CC%87stanbul-%C3%BCni%CC%87versi%CC%87tesi%CC%87-cerrahpa%C5%9Fa/mycompany/';"
                    class="btn btn-social-icon btn-outline-linkedin"> <i class="fa fa-linkedin"></i> </button>
                  <button type="button" onclick="window.location.href='https://www.instagram.com/ieeeiuc/?hl=tr';"
                    class="btn btn-social-icon btn-outline-instagram"> <i class="fa fa-instagram"></i> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- sosyal medya -->







    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:#062e36; color:white">© 2021
      Copyright:
      <a href="https://www.ieeeiuc.com/sb/tr"> IEEEIUC.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>

  <!-- Javascript -->
  <script src="../public/js/jquery-3.3.1.min.js"></script>
  <!-- <script src="../public/js/jquery-migrate-3.0.0.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- <script src="../public/js/jquery.backstretch.min.js"></script> -->
  <script src="../public/js/wow.min.js"></script>
  <!-- <script src="../public/js/jquery.waypoints.min.js"></script> -->
  <!-- <script src="../public/js/jquery.mCustomScrollbar.concat.min.js"></script> -->
  <script src="../public/js/scripts.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
crossorigin="anonymous">-->
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

</body>

</html>