<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
div {
    background: #022749;
    color: white
}

    </style>
</head>
<body>
    

<!-- Footer -->
<footer class="page-footer  font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left"style="background-color:	#2F4F4F">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto d-flex   flex-row  align-items-center ">
  
          <!-- Content -->
         
          <div class="col-lg-5 col-xs-12 about-company ">

            <div class=" align-items-center"  >
<img src="https://ieeeiuc.com/sb/assets/img/ieeeiuc-tr-beyaz.png" style="max-width: 370px; ">
</div>
</div>

        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-lg-3 col-xs-12 location ;">
  
          <!-- Links -->
          <h4 class="mt-lg-0 mt-sm-4 pt-2">Bilgilendirme</h4>
  
          <ul class="list-unstyled pt-2">
            <li >
              <a href="https://www.ieeeiuc.com/sb/tr">Anasayfa</a>
            </li>
            <li class="pt-1">
              <a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
            </li>
            <li class="pt-1">
              <a href="#!">Ekip</a>
            </li >
            <li class="pt-1">
              <a href="https://www.ieeeiuc.com/sb/tr/sikca-sorulan-sorular">S.S.S</a>
            </li>
            <li class="pt-1">
                <a href="https://www.ieeeiuc.com/sb/tr/projeler/iot">Projeler</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <div class="col-lg-3 col-xs-12 location">
            <h4 class="mt-lg-0 mt-sm-4 pt-2">İletişim</h4>

                                <p class="pt-2">İstanbul Üniversitesi Cerrahpaşa Avcılar Kampüsü Mühendislik Fakültesi</p>
            <p>34320 Avcılar/ İstanbul TR</p>

            <p class="mb-0"><i class=""></i>
                </p>
            <p>
                
                ieeeiüciot@gmail.com
            
        </div>
  
      
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    
  
   
  
<!-- sosyal medya -->


<div class="page-content page-container text-center text-md-left" id="page-content">
    <div style="max-width:605px" class="mx-auto">
        <div  class="row container d-flex justify-content-center">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="template-demo"> 
                             <button type="button" onclick="window.location.href='https://www.facebook.com/ieeeiu/';" class="btn btn-social-icon btn-outline-facebook">   <i class="fa fa-facebook"></i>    </button>
                             <button type="button" onclick="window.location.href='https://www.youtube.com/channel/UCeyBtBFEsycQNxCpvC5lzPA';" class="btn btn-social-icon btn-outline-youtube">  <i class="fa fa-youtube"></i>    </button> 
                             <button type="button" onclick="window.location.href='https://twitter.com/ieeeorg';"class="btn btn-social-icon btn-outline-twitter">  <i class="fa fa-twitter"></i>   </button> 
                             <button type="button" onclick="window.location.href='https://www.linkedin.com/company/ieee-i%CC%87stanbul-%C3%BCni%CC%87versi%CC%87tesi%CC%87-cerrahpa%C5%9Fa/mycompany/';"class="btn btn-social-icon btn-outline-linkedin">   <i class="fa fa-linkedin"></i>   </button>
                             <button type="button" onclick="window.location.href='https://www.instagram.com/ieeeiuc/?hl=tr';"class="btn btn-social-icon btn-outline-instagram">   <i class="fa fa-instagram"></i>    </button> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sosyal medya -->





    

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:#22242e;">© 2021 Copyright:
      <a href="https://www.ieeeiuc.com/sb/tr"> IEEEIUC.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
     crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
</body>
</html>